.div.uai-bar_nav
  ul.uai-bar_list
		li.uai-bar_items 
			a.uai-bar_links(href="https://www.em.com.br/" target="_blank" title="Not\u00edcias">Not\u00edcias)

		li.uai-bar_items
			a.uai-bar_links(href="https://www.mg.superesportes.com.br/" target="_blank" title="Esporte">Esporte)
		</li>
		
		<li class="uai-bar__items">
			<a class="uai-bar__links" href="https://www.uai.com.br/entretenimento/" target="_blank" title="Entretenimento">Entretenimento</a>
		</li>
		
		<li class="uai-bar__items">
			<a class="uai-bar__links" href="https://estadodeminas.vrum.com.br/" target="_blank" title="Ve\u00edculos">Ve\u00edculos</a>	 